@page "/"
@namespace WarHub.GodMode.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00c7d3" />
    <title>GodMode</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/WarHub.GodMode.Components/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/WarHub.GodMode.Components/css/site.css" />
    <link rel="apple-touch-icon" href="_content/WarHub.GodMode.Components/favicon-180.png" type="image/png" sizes="180x180" />
    <link rel="icon" href="_content/WarHub.GodMode.Components/favicon.svg" type="image/svg+xml" sizes="any" />
    <link rel="icon" href="_content/WarHub.GodMode.Components/favicon-32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="_content/WarHub.GodMode.Components/favicon-16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="_content/WarHub.GodMode.Components/favicon.ico" type="image/vnd.microsoft.icon" sizes="16x16 32x32 48x48" />
</head>
<body>
    <component type="typeof(WarHub.GodMode.Components.App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        An error has occurred. This application may no longer respond until reloaded.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/WarHub.GodMode.Components/scripts.js"></script>
</body>
</html>
