@page "/"
@page "/catalogue"
@using WarHub.GodMode.Data
@using WarHub.ArmouryModel.ProjectModel
@inject DatafilesService DatafilesService

<div>
    <DatafileList @bind-SelectedDatafile="DatafileInfo" />
</div>

@if (DatafileInfo is null)
{
    <p>No file selected</p>
}
else
{
    <div class="row">
        <style>
            div.max80vh {
                max-height: 80vh;
                overflow-x: hidden;
                overflow-y: auto;
            }
        </style>

        <div class="col-md">
            <h4 id="content">Content</h4>
            <div class="max80vh px-3">
                <SourceNodeTree Root="@Root" @bind-ActiveItem="ActiveItem" />
            </div>
        </div>

        <div class="col-md">
            <h4 id="details">Details</h4>
            <div class="max80vh px-3">
                <SourceNodeDetails Node="@((ActiveItem?.Model as ITreeItemModelWithSourceNode)?.Node)" />
            </div>
        </div>
    </div>
}

@code {
    IDatafileInfo datafileInfo;

    IDatafileInfo DatafileInfo
    {
        get => datafileInfo;
        set
        {
            var old = datafileInfo;
            datafileInfo = value;
            if (value != old)
            {
                if (DatafileInfo is { })
                {
                    Root = DatafileInfo.GetData();
                }
            }
        }
    }

    SourceNodeTreeItemBase ActiveItem { get; set; }

    SourceNode Root { get; set; }
}
