@page "/"
@page "/catalogue"
@using WarHub.GodMode.Data
@using WarHub.ArmouryModel.ProjectModel
@inject NavigationManager NavigationManager
@inject DatafilesService DatafilesService
@inject IJSRuntime JSRuntime

<div>
    <DatafileList @bind-SelectedDatafile="DatafileInfo" />
</div>

@if (DatafileInfo is null)
{
    <p>No file selected</p>
}
else
{
    <CascadingValue Value="this">
        <div class="row">
            <style>
                div.max80vh {
                    max-height: 80vh;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
            </style>

            <div class="col-md">
                <h4 id="content">Content</h4>
                <div class="max80vh px-3">
                    <SourceNodeTreeItem Node="@Root" />
                </div>
            </div>

            <div class="col-md">
                <h4 id="details">Details</h4>
                <div class="max80vh px-3">
                    <SourceNodeDetails Node="@ActiveNode" />
                </div>
            </div>
        </div>
    </CascadingValue>
}

@code {
    IDatafileInfo datafileInfo;
    SourceNode activeNode;

    [Parameter]
    public IDatafileInfo DatafileInfo
    {
        get => datafileInfo;
        set
        {
            var old = datafileInfo;
            datafileInfo = value;
            if (value != old)
            {
                UpdateDatafile();
            }
        }
    }

    public SourceNode ActiveNode
    {
        get => activeNode;
        set
        {
            activeNode = value;
            StateHasChanged();
        }
    }

    public SourceNode Root { get; set; }

    public ValueTask SelectNode(SourceNodeTreeItem treeItem)
    {
        ActiveNode = treeItem.Node;
        return JSRuntime.Focus(treeItem.NodeSpan);
    }

    void UpdateDatafile()
    {
        if (DatafileInfo is { })
        {
            Root = DatafileInfo.GetData();
            if (Root?.Contains(ActiveNode) != true)
            {
                ActiveNode = Root;
            }
        }
    }
}
