<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Armoury.Model" version="0.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Armoury.Model.BattleScribe" version="0.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Armoury.Model.BattleScribe.Files" version="0.2.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Armoury.Model.BattleScribeXml" version="0.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Armoury.Model.DataAccess" version="0.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Armoury.Model.DataAccess.Autofac" version="0.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="WarHub.Mvvm" version="1.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.2.0.31" targetFramework="portable45-net45+win8+wpa81" />
</packages>