<a class="navbar-brand" href="" style="padding: 0">
    <img src="_content/WarHub.GodMode.Components/GodMode-logo-white-no-bg.svg" class="d-inline" style="height: 2em" />
    GodMode
</a>
<button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="catalogue">
                    <span class="oi oi-plus" aria-hidden="true"></span> Catalogue
                </NavLink>
            </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
