name: CI
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        BuildConfiguration: [Release]
    env:
      DOTNET_NOLOGO: 1
      Configuration: ${{ matrix.BuildConfiguration }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # all history
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - run: dotnet --info
      - run: dotnet tool restore
      - run: dotnet nbgv get-version
      - run: dotnet restore -v m
      - run: dotnet build --no-restore
