name: deploy-pages
on:
  push:
    branches: [main]

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # all history
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - run: dotnet --info
      - run: dotnet tool restore
      - run: dotnet nbgv get-version
      - run: dotnet publish src/WarHub.GodMode.GithubPages -c Release -o bin/publish
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ github.token }}
          publish_dir: ./bin/publish/wwwroot
